body {
    background-color: #677E8C;
    color: rgb(235, 239, 242)
}

button {
    background-color: #45Ace5;
    border: none;
}

.questions, .answerDiv {
    margin-bottom: 8px;
    margin-top: 8px;
}
